
h1, h2, h3, h4, h5, h6, p {
    font-weight: 200;
}

.Sweet-Portal-Logo{
    position: sticky;
    top: 20px;
}

.Sweet-Portal{
    margin-top: 20px;     
}

.stock-link{
    font-weight: 120;
    font-size: small;
}

.stock-link-small{
    font-weight: 120;
    font-size: x-small;
    margin-left: 8px;
}

